<section>
<p>
  <a href="/suppliers">Suppliers</a>
</p>

  <div class = "drinks">
  <ul>
    <% @drinks.map do |drink| %>
    <li><p class="bold"><%= drink.name %></p></li>
    <hr>
    <% end %>
  </ul>
</div>
</section>
