<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>BrewCat Inventory</title>

  <link rel="shortcut icon" type="image/png" href="/images/cat.png"/>


  <link rel="image/png" href="/images/cat.png" />
  <link rel="image/png" href="/images/opening.png" />

  <link rel="image/svg" href="/images/exclamation-triangle-solid.svg">

  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">

</head>
<body>
  <header id="page-header">
    <section>
      <nav class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/suppliers">Suppliers</a></li>
          <li><a href="/drinks">Drinks</a></li>
          <li><a href="/promotions">Promotions</a></li>
        </ul>
      </nav>
    </section>
    <section class="logo">
      <img src="/images/brewcat-logo.jpeg" alt="Cat">
    </section>
  </header>

  <%= yield %>

</body>

<footer>
  <br><br>
  &copy; Gary Clark 2019
</footer>
</html>
