<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>This page loads</title>

  <!-- <link rel="image" href="../images/opening.png" /> -->

  <link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>
  <%= yield %>
</body>
</html>
