<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>This page loads</title>



  <!-- <link rel="image" href="../images/opening.png" /> -->

  <link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>
  <header id="page-header">
    <section>
      <nav>
        <ul class="navigation">
          <li><a href="/">Home</a></li>
          <li><a href="/suppliers">Suppliers</a></li>
          <li><a href="/drinks">Drinks</a></li>
        </ul>
      </nav>
    </section>
  </header>

  <%= yield %>
</body>
</html>
