<hr>
<h3>Current Promotions below:</h3>
<hr>

<p>
  <a href="/promotions/new">Click to add new promotion
  </a>
</p>

<table>
  <tr>
    <th>Supplier</th>
    <th>Promotion Type</th>
    <th>Number of affected products</th>
  </tr>
  <% @promotions.each do |promotion| %>
  <tr>
    <td>
      <%= Supplier.find(promotion.supplier_id).name %>
    </td>
    <td>
      <%= promotion.type %> Discount
    </td>
    <td>
      <%= Supplier.drinks(promotion.supplier_id).length %>
    </td>
    <td><form action="/promotions/activate" method="GET">
      <input type="submit" value="Activate Promotion">
    </form>
  </tr>
  <% end %>

</table>
