<p>Here are the drinks currently in your inventory</p>

<div class = "drinks">
  <ul>
    <% @drinks.map do |drink| %>
    <li><p class="bold">
      <% if drink.stock_level.to_i <= 10 %>
      <a href="drinks/<%= drink.id %>"><%= drink.name %> !Low Stock Level!</a>
      <% else %>
      <a href="drinks/<%= drink.id %>"><%= drink.name %></a>
      <% end %>
    </p>

  </li>
  <hr>
  <% end %>
</ul>
</div>

<a href="/drinks/new">Click to create new drink</a>
