<p>Here are the drinks currently in your inventory</p>

<div class = "drinks">
  <ul>
    <% @drinks.map do |drink| %>
    <li><p class="bold">
      <a href="drinks/<%= drink.id %>"><%= drink.name %></a>
    </p>
  </li>
  <hr>
  <% end %>
</ul>
</div>

<a href="/drinks/new">Click to create new supplier</a>
