<form action="/drinks" method="POST">

  <label for="name">Drink name:</label>
  <input type="text" name="name" id="name" required>

  <label for="buy_cost">Buy in cost:</label>
  <input type="text" name="buy_cost" id="buy_cost" required>

  <label for="supplier">Supplier:</label>
  <input type="text" name="supplier" id="supplier" required>

  <label for="stock_level">Current stock:</label>
  <input type="number" name="stock_level" id="stock_level" required>

  <input type="submit" value="Add Drink">

</form>
