<p>Here are the current suppliers you work with:</p>

<section>
  <div class="suppliers">
    <ul>
      <% @suppliers.map do |supplier| %>
      <li>
        <p class="bold">
          <a href="/suppliers/<%=supplier.id%>">
            <% if supplier.active == "t" %>
            <%= supplier.name %></a
            <% else %>
            <%= supplier.name %> is inactive
            <% end%>
          </p>
        </li>
        <hr>
        <% end %>
      </ul>
    </div>

    <div>
      <a href="/suppliers/new">Click to create new supplier</a>
    </section>
