<hr>
<h3>Here are the current suppliers you work with:</h3>
<hr>

<table>
  <tr>
    <th>Supplier Name</th>
    <th>Supplier Active?</th>

  </tr>
  <% @suppliers.map do |supplier| %>
  <tr>
    <td>
      <a href="suppliers/<%= supplier.id %>"><%= supplier.name %></a>
    </td>
    <td>
      <% if supplier.active == "t" %>
      Yes
      <% else %>
      No
      <% end %>
    </td>
    <% end %>

  </table>



    <a href="/suppliers/new">Click to create new supplier</a>
