<p>Supplier Name: <%= @supplier.name %></p>
<p>Supplier Code: <%= @supplier.supplier_code %></p>

<a href="/suppliers/<%= @supplier.id %>/edit">
  Click here to edit
</a>

<h1>The below drinks are supplied by this supplier:</h1>
