#page-header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 15rem;
  color: black;
  background: #119BB0;
}

img {
  margin-top: 5px;
  max-width: 200px;
  max-height: 100px;
  align-content: flex-end;
}

ul {
  list-style: none;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid white;
}

.navigation a:hover {
  color: blue;
}

section.logo {
  font-size: 50px;
  font-weight: bold;
font-stretch: expanded;
}

body {
  margin: 10px;
  padding: 15px;
  border: solid 1px black;
  display: grid;
  align-content: center;
  justify-content: center;
}

footer {
  font-style: italic;
  font-size: 12px;
  color: grey;
}

a span {
  display: inline;
  text-align: left;
  background-color: lightyellow;
}

h3 span {
  display: inline;
  text-align: left;
  background-color: yellow;
}
