#page-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 150px;
  color: black;
}

.navigation {
  justify-content: flex-start;
  list-style: none;
  margin: 0;

  background: #ACC;

  flex-flow: flex-start;
  flex-wrap: row wrap;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 16px;
  color: red;
  font-weight: bold;
  text-align: center;
}

.navigation a:hover {
  color: blue;
}

/* #content {
  border-left: 1px solid darkred;
  padding-left: 25px;
} */

/* .logo {
  background-color: orange;
  background-repeat: no-repeat;
  grid-column-start: 2;
} */

/* body #page-header .section > nav {
  display: flex;
  margin: auto;
  background-color: blue;
} */
