table, th, td, tr {
  border-collapse: collapse;
  border: 2px solid purple;
  padding: auto;
}

th {
  text-align: center;
  font-size: 16px;
  font-family: Helvetica;
  justify-content: center;
  margin: auto;
  background-color: #88CFD9
}

td {
  text-align: center;
  justify-content: flex-start;
}

table a {
  color: black;
  text-decoration: none;
}

table a:hover {
  color: blue;
  background-color: pink;
  text-decoration: underline;;
}

table, tr, td .invisible {
  border: none;
}
